/*footer start*/

/* Footer Section */

.footer {
  display: flex;
  flex-direction: column;
}

.contact-callout {
  height: 280px;
  background: linear-gradient(-45deg, #F3C623, #FEFFA7, #FFE700);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: max-height 650ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  position: relative;
}

.btn-2 {
  align-items: center;
  background-color: #2b3e4f;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
  border: none;
}

.contact-callout h4 {
  font-size: 32px;
  width: 838px;
  margin-bottom: 4px;
}

.contact-callout p {
  opacity: 90%;
  margin-bottom: 32px;
  font-size: 20px;
}

/*Footer-Callout End*/

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 20px;
  width: 75%;
  margin: auto;
  font-size: 1.6rem;
}

.footer-column {
  flex: 1;
  font-size: 1.2rem;
  margin: 10px;
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-logo {
  width: 250px;
  margin-bottom: 10px;
  position: relative;
  bottom: 70px;
}

.footer-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: black;
  position: relative;
  top: 40px;
}

.footer-description {
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 20px;
  position: relative;
  bottom: 150px;
  color: gray;
}

.services-list {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  color: gray;
  position: relative;
  top: 40px;
}

.services-list li {
  margin-bottom: 10px;
}

.opening-hours {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  color: gray;
  position: relative;
  top: 40px;
}

.opening-hours li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  position: relative;
  top: 40px;
}

.contact-button:hover {
  background-color: #28a745;
  padding-right: 25px;
}

.contact-button:hover::after {
  content: ' ➡';
  margin-left: 5px;
}

.contact-button:hover::before {
  content: '📞';
  margin-right: 5px;
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .contact-button {
    width: 100%;
  }

  .footer-logo {
    position: relative;
    top: 10px;
    width: 350px;
    height: 350px;
  }

  .footer-description {
    position: relative;
    top: 10px;
  }
}

.bottom-bar {
  background-color: #f8f8f8;
  /* Arka plan rengi */
  display: flex;
  /* Flexbox kullanarak elemanları yan yana diz */
  justify-content: center;
  /* Elemanları yatayda ortala */
  align-items: center;
  /* Dikeyde ortala */
  gap: 10px;
  /* Elemanlar arasına boşluk ekle */
  padding: 10px 20px;
  /* İç boşluk */
  font-size: 14px;
  /* Yazı boyutu */
  width: 100%;
  /* Tam genişlik */
  position: relative;
  /* Pozisyon ayarlaması */
  bottom: 0;
  /* Alt kısma sabitleme */
}

.legal-info {
  color: #333;
  /* Yazı rengi */
  margin: 0;
  /* Varsayılan boşluğu kaldır */
}

.footer-link {
  color: #0073e6;
  /* Link rengi */
  text-decoration: none;
  /* Alt çizgi olmadan gösterim */
}

.footer-link:hover {
  text-decoration: underline;
  /* Üzerine gelindiğinde alt çizgi ekle */
}

/* Mobil cihazlar için */
@media screen and (max-width: 600px) {
  .bottom-bar {
    flex-direction: column;
    /* Küçük ekranlarda elemanları üst üste diz */
  }

  .legal-info {
    font-size: 12px;
    /* Küçük ekranlarda yazı boyutunu küçült */
  }
}

/* Laptop and Tablet */
@media (max-width: 1024px) and (min-width: 0px) {

  .footer-nav {
    flex-direction: column;
    gap: 24px;
  }

  .footer-links-container {
    gap: 34px;
    margin-right: 0px;
  }

  .footer-links {
    padding: 0px 12px;
  }

  .footer-links a {
    font-size: 16px;
    padding: 0px;
  }

  .discounts {
    margin-top: 34px;
  }

  .service-page-title h1 {
    font-size: 24px;
    text-align: justify;
    text-justify: inter-word;
    margin-right: 50px;
  }

  .service-page-title p {
    font-size: 16px;
  }

  .service-features {
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
  }

  .service-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .contact-content {
    flex-direction: column;
  }
}
