/* responsive tanıtım sayfası start */

.responsive-container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 100px;
  position: relative;
  top:150px;
}

.content-block-two {
  flex: 1;
  max-width: 950px;
  text-align: start;
  position: relative;
}

.content-block-two h1 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 500;
}

.content-block-two p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
}

.button-group-two {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button-group-two button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.button-group-two .button-first-two {
  width: 220px;
  color: white;
  position: relative;
  background-color: #2b3e4f;
  border: none;
}

.button-group-two .button-second-two {
  background-color: #00FF9C;
  color: black;
  width: 200px;
  border: none;
}

/* 2. Blok stili */
.right-image-two {
  flex: 0 0 700px;
  max-width: 100%;
}

.right-image-two img {
  width: 100%;
  height: auto;
}

/* Responsive ayarlar */
@media (max-width: 768px) {
  .responsive-container-two {
    flex-direction: column;
    align-items: center;
    /* Mobilde dikey ortala */
    gap: 40px;
    /* Alanı azaltmak için boşluğu küçült */
  }

  .content-block-two {
    margin-right: 0;
    /* Sağ boşluğu kaldır */
    margin-bottom: 0;
    /* Alt boşluğu sıfırla */
    width: 100%;
    /* Genişliği %100 yap */
  }

  .right-image-two {
    width: 100%;
    /* Resmin genişliği %100 olacak */
  }

  .right-image-two img {
    margin-bottom: 0;
    /* Resmin altında boşluk bırakma */
  }
}